<Application xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>
  <VisualElements
      ShowNameOnSquare150x150Logo='on'
      Square150x150Logo='%CANARYVERSION%\VisualElements\LogoCanary.png'
      Square70x70Logo='%CANARYVERSION%\VisualElements\SmallLogoCanary.png'
      Square44x44Logo='%CANARYVERSION%\VisualElements\SmallLogoCanary.png'
      ForegroundText='light'
      BackgroundColor='#5F6368'/>
</Application>
